.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding-inline: 10%;
}

.header > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
