.main {
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding-inline: 10%;
  justify-items: center;
  gap: 10svh;
}

.main > section:last-child {
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  height: fit-content;
  gap: 2em;
}

.main > a {
  text-decoration: underline;
  color: rgb(255, 55, 55);
  font-weight: 600;
  font-size: larger;
}
.header_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback_list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
